body{
    width: 100%;
    height: 100%;
}
/*Header*/
.wrap{
    border: 2px solid #4CAF50;
    background-color: rgba(69,143,204,0.5);
}

/*SIDE NAV*/
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: rgba(50,112,181,0.7);;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 1050px){
    ul.sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

/*Textarea*/
#textarea{
    text-align:left;
    height:550px;
    width:100%;
    border:1px solid #ACD8F0;
    overflow:auto;
    background-color: aqua;
}