body{
    width:100%;
    height: 100%;
    background-color:crimson;
    font-family: 'Montserrat', sans-serif;    
}

//*2 sections*/
/*Menu Left*/
/*menu-wrapper*/
#menu-wrapper{
    height:80%;
    background-color:rgba(255,187,187,0.7);
    border: 2px solid rgba(255,187,187,0.7);
    border-radius: 30px;   
}

#menu-wrapper h3{
    font-family: 'Montserrat', sans-serif; 
}


/*FORM*/
#form label{
    font-size: 20px;
}
#form select{
    width:150px;
    font-size:16px;
    border: 1px solid grey;
    border-radius:20px;
}

/*Textarea*/
#textarea{
    text-align:left;
    height:550px;
    width:100%;
    border:1px solid #ACD8F0;
    overflow:auto;
    background-color: aqua;
}

/*Input areas*/
form{
    text-align: left;
    border: 1px solid grey;
    height: auto;
    width: ;
    padding-left: ;
    z-index: 3;
}