body{
    width: 100%;
    height: 100%;
    background-image: url(../img/backg.jpg);
}
/*Header*/
.wrap{
    border: 2px solid #4CAF50;
    background-color: rgba(69,143,204,0.5);
}

/*SIDE DROP NAV*/
.dropbtn {
    background-color: #3270B5;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*Textarea*/
#textarea{
    text-align:left;
    height:550px;
    width:100%;
    border:1px solid #ACD8F0;
    overflow:auto;
    background-color: aqua;
}

/*Input areas*/
form{
    text-align: left;
    border: 1px solid grey;
    height: auto;
    width: ;
    padding-left: ;
    z-index: 3;
}